.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.login form {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.login .login-input {
  width: 460px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.login-input label {
  font-weight: 700;
  padding: 0.2rem;
}

.login-input input {
  padding: 0.5rem;
  border: 2px solid transparent;
  border-radius: 3px;
}

.login-input:last-of-type {
  padding-bottom: 2rem;
}

.login-input input:hover {
  border: 2px solid rgba(0, 255, 255, 0.118);
}

.login p {
    padding-top: .3rem;
}

.login a {
    font-weight: 600;
    color: rgb(63, 132, 132);
}